:root{

  /* Font Sizes */

    --hd-1-gld: ;
    --hd-1-mj-thrd:11.642rem;
    --hd-2-mj-thrd: 7.451rem;
    --hd-3-mj-thrd:4.768rem;
    --hd-4-mj-thrd:3.815rem;
    --hd-5-mj-thrd:3.052rem;
    --hd-6-mj-thrd:2.441rem;
    --hd-7-mj-thrd:1.563rem;

    --tl-1:1.25rem;

    --nav-1: 1.563rem;
    --nav-ch:1.25rem;
    
    --aside-hd:1.563rem;
    --aside-p:1rem;

    --art-p:1.25rem;

    /* Colors */

    --dark-clr: #0b566f;
    --medium-clr:rgb(68, 119, 136);
    --light-clr:rgb(215, 233, 239);

    --dull-clr:hsl(195, 13%, 49%);

    
    --sq-prp:hsl(292, 75%, 79%);
    --sq-prp-visited: hsl(292, 55%, 69%);
    --sq-org:rgb(203, 143, 82);
    --sq-grn:rgb(152, 204, 92);
    --sq-blue:rgb(82, 173, 203);
    --sq-blue-under: hsl(195, 44%, 46%);

    --wht:hsl(0, 0%, 100%);


    /* Links */
    
  }
 
  html {
    scroll-padding-top: 11.642rem;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, hsl(195, 53%, 92%) 25%, hsl(195, 23%, 79%) 50%, hsl(195, 43%, 89%) 70%, hsl(0, 0%, 100%) 99%);
    background-size: 300%;
    background-position: left;
    animation-name:gradient-change;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes gradient-change {
    0%{background-position: left;}
    100%{background-position: right;}
  }


  @keyframes nav-width {
    0%{
      width: 0;
    }
    100% {
      width: 28.422rem;
    }
  }
  
  @supports not (-ms-ime-align: auto) {

    details summary { 
      cursor: pointer;
    }
  
    details summary > * { 
      display: inline;
    }
  
    /* Plus any other <details>/<summary> styles you want IE to ignore.*/
  } 

  /* Generic */

  .flx-row {
    display: flex;
      flex-flow:row wrap;
  }

/* HEADER */
  
  .hder-1 {
    width: 100%;
    position: relative;
  }


/*  FLEX BOX FOR H1 AND NAV  */

  .flx-header{
      width: 100%;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
  }


  /* H1 */

  .hd-1 {
    font-size: var(--hd-1-mj-thrd);
    margin: 3.052rem 0 3.815rem 3.815rem;
    font-weight:normal;
    line-height:1.2;
    width: 70%;
    color: #0B5770;
    flex: 2;
  }

  /* NAV (CONTENTS) */

.contents-nav-1{
  flex: 1;
  margin-top: 1.250rem;
  overflow: clip;
  margin-right: 4.768rem;
  max-width: 28.422rem;
}

.contents-div-2 {
  padding: 0 1rem;
  border-right: solid hsl(195deg 83% 28%) 5px;
  text-align: right;
}

.contents-heading-3 {
  font-size: var(--hd-6-mj-thrd) ;
  padding: 0;
  margin: 0;
  color: hsl(195deg 33% 40%);
}

.contents-ul-4{
  margin-top: 0.8rem;
}

.contents-li-5 {
    list-style-type: none;
    text-align: right;
    line-height: 1.9;
    padding: 0;
}

.contents-a-6{
  position: relative;
}

.contents-a-6:link {
  font-size: var(--nav-1) ;
  color: hsl(195deg 23% 50%);
  text-decoration: none;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;


}

.contents-a-6:visited{
  color: hsl(195deg 23% 55%);
}

.contents-a-6:hover{
  color:hsl(195deg 93% 35%);
  font-style: italic;
  transition: all 0.3s ease-in-out;
}
    
  .contents-a-6:active {
    color: hsl(195, 83%, 43%);
    transition:0.1s ease-in-out;
  }
    
 .contents-a-6::before{
   content: "";
   width: 0;
   height: 3.25px;
   visibility: hidden;
   background-color: hsl(195deg 93% 35%);
   position: absolute;
   bottom:2px;
   left: 0;
   transition: all 0.3s ease-in-out;
   transition-property: width, visibility, background-color;
 } 

 .contents-a-6:hover::before{
 visibility: visible;
 width: 100%;
 }

 .contents-a-6:active::before{
  background-color: hsl(195deg 83% 43%);
  transition: 0.1s ease-in-out;
}

/* Back to the top Icon */

.back2thetop-span{
  position: sticky;
  float: right;
  margin-right: 1.563rem;
  top:90%;
  margin-top: 4.768rem;
  transition: all 0.15s ease-in-out;
  transition-property: transform ;
}

.back2thetop-a:link{
  background-color: var(--wht);
  color: var(--dark-clr);
  border: var(--dark-clr) solid 2px;
  padding: 5px;
  box-shadow: 0 14px 5px 1px hsla(195, 33%, 40%, 0.3);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.12s ease-in-out;
  transition-property: background-color, box-shadow;
}

.back2thetop-a:visited{
  color: var(--dark-clr);
}

.back2thetop-a:hover{
  background-color: hsl(0, 0%, 95%);
}

.back2thetop-a:active{
  background-color: var(--light-clr);
  box-shadow: 0 9px 4px 0.50px hsla(195, 33%, 40%, 0.5);
}


.back2thetop-span:active{
  transform: translateY(5px);
}

/* General section styling */

.sct{
  margin: 3.815rem auto;
}  

.hder-2{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.hd-2 {
  font-size: var(--hd-2-mj-thrd);
  font-weight: normal;
  color: var(--dark-clr);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Section Colors */

/* .sct2{
  background: linear-gradient(hsla(0deg,0%,100%,0), var(--sq-prp));
}

.sct3{
  background: linear-gradient(hsla(0deg,0%,100%,0), var(--sq-prp));
} */
    

/* Chapter/Article Board */

 .Board {
  margin: 1.25rem auto 7.451rem;
  box-sizing: border-box;
  background-color: var(--wht);
  height: 35.527rem;
  padding: 1.953rem 0.8rem;
  overflow-y: scroll;
  border-radius: 4.768rem;
  box-shadow: 0 0 4.768rem 1.25rem hsl(0, 0%, 0%, 0.3), 0 0  1.25rem -1rem hsl(195deg, 83%, 3%, 0.8 );
  display: flow;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 69.389rem;

  

}

.art-content{
width: 70%;
display: inline-block;
}


.hding-3{
  font-size: var(--hd-6-mj-thrd);
  text-align: center;
  color: var(--dark-clr);
  position: sticky;
  top: -3.052rem;
  margin-bottom: 0;
  padding-top: 3.052rem;
  padding-bottom: 2.441rem;
  background: linear-gradient( var(--wht) 75%, hsla(0deg,0%,100%,0));
  z-index: 3;
}

.hding-4{
  font-size: var(--hd-7-mj-thrd);
  text-align: center;
  position: sticky;
  top: 2.441rem;
  padding-top: 2.441rem;
  padding-bottom: 2.441rem;
  z-index:2;
  color: var(--sq-blue);
  background: linear-gradient( hsla(0deg,0%,100%,0) -0%,var(--wht) 20% 75%, hsla(0deg,0%,100%,0) );
  
}

.h4-tl {
  font-size: var(--tl-1);
  color: var(--dark-clr);
  text-align: left;
  margin: -2.441rem auto 3.052rem;
  line-height: 1.5;
  max-width: 55ch;
  
}

.hding-5{
  font-size: var(--aside-hd);
  color: var(--sq-blue-under);
  margin: 0;
  text-align: center;
}

.art-p{
font-size: var(--art-p);
color: var(--medium-clr);
line-height: 1.5;
max-width: 55ch;
text-align: left;
margin: 1.563rem auto;
}


/* Chapter Nav */

.chapter-nav { 
  box-sizing: border-box;
  position: sticky;
  top: 0rem;
  padding-top: 3.052rem;
  padding-bottom: 2.441rem;
  float: left;
  width: 18.19rem;
  padding: 2.441rem;
}

.ch-nav-heading-3{
font-size: var(--aside-hd);
color: var(--medium-clr);
margin-bottom: 1.563rem;
}

.ch-nav-ul-4 {
  margin: 0;
  padding: 0;
display: flex;
flex-direction: column;
width: fit-content;
}

.ch-nav-li-5{
  display: inline-block;
  position: relative;
  margin-bottom: 1.563rem;
}
    
.ch-nav-a-6:link{
 font-size: var(--nav-ch);
 color: hsl(195deg 53% 50%);
 text-decoration: none;
 padding: 0;
}

.ch-nav-a-6:visited{
  color: hsl(195deg 43% 45%);
}
    
.ch-nav-a-6:hover{
  color:hsl(195deg 93% 35%);
  transition: all 0.3s ease-in-out;
}
    
  .ch-nav-a-6:active {
    color: hsl(195, 83%, 43%);
    transition:0.1s ease-in-out;
  }
     
  .ch-nav-a-6::before{
    content: "";
    width: 0;
    height: 3.25px;
    visibility: hidden;
    background-color: hsl(195deg 93% 35%);
    position: absolute;
    bottom:0px;
    left: 0;
    transition: all 0.3s ease-in-out;
    transition-property: width, visibility, background-color;
  }

  .ch-nav-a-6:hover::before{
    visibility: visible;
    width: 100%;
  }

  .ch-nav-a-6:active::before{
    background-color: hsl(195deg 83% 43%);
    transition: 0.1s ease-in-out;
  }
    
  .sub-menu {
    max-height: 0;
    transition: max-height 0.5s;
    overflow-y: hidden;
  }

  .sub-menu a {
   display: block;
   margin: 1rem 0rem;
   color: var(--sq-blue);
   font-size: 1rem;
   text-align: left;
  }

  .ch-nav-li-5:target .sub-menu{
    max-height: 10em;
  }


  /* Section 1 */

section.sct1 {
  margin-top: 0rem;
}


 /* Section 2: Colors */

 .color-row {

  justify-content: start;
  gap: 1.563rem;
 }

  .colorsample{
  flex: 1 1 2.441rem;
   padding: 1.563rem 0.8rem;
   text-align: center;
   line-height: 1.8;
   border-radius: 15%;
   margin: 1.563rem 0;
  }

  #prm-drk {
    background-color: var(--dark-clr);
    color: var(--wht);
  }

  #prm-med {
    background-color: var(--medium-clr);
    color: var(--wht);
  }

  #prm-light {
    background-color: var(--light-clr);
    color: var(--dark-clr);
  }

  #sq-blue {
    background-color: var(--sq-blue);
    color: var(--wht);
  }

  #sq-grn {
    background-color: var(--sq-grn);
    color: var(--wht);
  }

  #sq-org{
    background-color: var(--sq-org);
    color: var(--wht);

  }

  #sq-purple {
    background-color: var(--sq-prp);
    color: var(--wht);
  }

  .clr-name{
    text-decoration: underline;
  }

   /* Section 2: Fonts */

   .tab-cap{
    font-size: var(--tl-1);
    color: var(--dark-clr);
    font-weight: 400;
    text-align: center;
  }
  
  .font-tab{
    margin: 2.441rem auto;
  }
  
  .font-tab *{ 
    padding: 0.8rem;
  }
  
  .font-cat{
    font-size: 0.8rem;
    color: var(--dull-clr);
    font-weight: 400;
    text-align: left;
  }
  
  .fnt-sample{
    text-align: center;
    max-width: 45ch;
    margin: 1.563rem auto;
  }
  
  .light ~ td{
  font-weight: 100;
  }
  
  .reg ~ td{
  font-weight: 400;
  }
  
  .SemiBold ~ td{
    font-weight: 600;
  }
  
  .bold ~ td{
    font-weight: 700;
  }
  
  .font-cat+td{
    font-style: italic;
  }
  
  .pop{
    font-family: 'Poppins';
  }
  .Mont {
    font-family: 'Montserrat';
  }
  .ssans{
    font-family: 'Source Sans Pro';
  }
  
  .scode{
    font-family: 'Source Code Pro';
  }
  
  .gar{
    font-family: 'EB Garamond';
  }

  .code-box{
    margin: 1.25rem auto 2.441rem;
    padding: 0.8rem;
    background-color: var(--light-clr);
    max-width: 55ch;
    border-radius: 5ch;
  }

  .code-box *{
    font-family: 'Source Code Pro', monospace;
    color: var(--dark-clr);
    line-height: 1.5;
    max-height: var(--hd-1-mj-thrd);
    overflow-y: scroll;
  }
  .reset{
    position: relative;    
    text-align: center;
    margin: 0px auto;
    padding: 0;
    max-width: 25ch;
    display: block;
  }

  #example1{
    max-width: fit-content;
    margin: 3.052rem auto;
  }

  /* Footer */

  .footer{
    width: 100%;
    background-color: var(--dark-clr);
    height: 7.451rem;
    justify-content: space-around;
    align-items: center;
  }

  .footer-link:link{
    color: var(--sq-blue-under);
    text-decoration: none;
  }

  .footer-link:visited{
    color: var(--sq-prp-visited);
    text-decoration: none;
  }

  .footer-link:hover {
  color: var(--sq-grn);
  background-color: var(--medium-clr);
  padding: 0.2rem;
  transition: padding 0.2s ease-out;
  border-radius: 0.8rem;
  }

  .footer-link:active{
    color: var(--sq-org);
    transform: translateY(1px) ;
    background-color:var(--medium-clr);
    padding: 0.8rem;
    border-radius: 0.8rem;
  }



 /*  circle navigation feature - experiment
  
  .circle-nav{
      flex: 1;
  }

  .circle-svg{
      margin: 4.768rem 0 0 -200px;
      transform: rotateZ(15deg);
  }

  */
  
 /* DEFINITION ASIDE 
   
.dfn-aside {
  position: sticky;
  display: inline-block;
  float: right;
  margin-right: -4.768rem;
  background-color: var(--dark-clr);
  padding: 0.8rem;
  border-radius: 1.25rem;
  color: var(--light-clr);
  top: 33.815rem;
}

.aside-internal {
  margin-top: 0.8rem;
  width: fit-content;
  padding:  0.8rem;
  background-color: var(--medium-clr);
  border-radius: 1.25rem;

}

.aside-p{
  max-width: 20ch;
  text-align: left;
  color: var(--light-clr);
  font-size: var(--aside-p);
  padding: 0;
  margin: 0;
  line-height: 1.35;
}
 */
