:root{

  /* Font Sizes */

    --hd-1-gld: ;
    --hd-1-mj-thrd:11.642rem;
    --hd-2-mj-thrd:7.451rem;
    --hd-3-mj-thrd:4.768rem;
    --hd-4-mj-thrd:3.815rem;
    --hd-5-mj-thrd:3.052rem;
    --hd-6-mj-thrd:2.441rem;
    --hd-7-mj-thrd:1.563rem;

    --tl-1:1.25rem;

    --nav-1: 1.563rem;
    --nav-ch:1.25rem;
    
    --aside-hd:1.563rem;
    --aside-p:1rem;

    --art-p:1.25rem;

    /* Colors */

    --dark-clr: #0b566f;
    --medium-clr:rgb(68, 119, 136);
    --light-clr:rgb(215, 233, 239);

    --dull-clr:hsl(195, 13%, 49%);

    
    --sq-prp:hsl(292, 75%, 79%);
    --sq-prp-visited: hsl(292, 55%, 69%);
    --sq-org:rgb(203, 143, 82);
    --sq-grn:rgb(152, 204, 92);
    --sq-blue:rgb(82, 173, 203);
    --sq-blue-under: hsl(195, 44%, 46%);

    --wht:hsl(0, 0%, 100%);


    /* Links */
    
  }
 
  html {
    scroll-padding-top: 11.642rem;
    width: 100%;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, hsl(195, 53%, 92%) 25%, hsl(195, 23%, 79%) 50%, hsl(195, 43%, 89%) 70%, hsl(0, 0%, 100%) 99%);
    background-size: 300%;
    background-position: left;
  }


  @keyframes nav-width {
    0%{
      width: 0;
    }
    100% {
      width: 28.422rem;
    }
  }

  @keyframes gradient-change {
    0%{background-position: left;}
    100%{background-position: right;}
  }
  
  /* @supports not (-ms-ime-align: auto) {

    details summary { 
      cursor: pointer;
    }
  
    details summary > * { 
      display: inline;
    }
  
    
    Plus any other <details>/<summary> styles you want IE to ignore.

  } 
  */

  /* Generic */

  .flx-row {
    display: flex;
    flex-flow:row wrap;
  }

  *[aria-hidden] {
    color: rgb(68, 119, 136, 0.4);
  }

/* HEADER */
  
  .hder-1 {
    width: 100%;
    position: relative;
  }


/*  FLEX BOX FOR H1 AND NAV  */

  .flx-header{
      width: 100%;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
  }


  /* H1 */

  .hding-1 {
    font-size: min(var(--hd-1-mj-thrd), 15vw);
    margin: 3.052rem 0 3.815rem 3.815rem;
    font-weight:normal;
    line-height:1.2;
    max-width: 60%;
    color: #0B5770;
    flex: 2;
  }

  /* NAV (CONTENTS) */

.contents-nav-1{
  flex: 1 2 28.422rem;
  margin-top: 1.250rem;
  margin-right: min(4.768rem, 5vw);
  max-width: min(28.422rem, 22vw);
}

.contents-div-2 {
  padding: 0 1rem;
  border-right: solid hsl(195deg 83% 28%) 5px;
  text-align: right;
}

.contents-heading-3 {
  font-size: min(var(--hd-6-mj-thrd), 3vw) ;
  padding: 0;
  margin: 0;
  color: hsl(195deg 33% 40%);
}

.contents-ul-4{
  margin-top: 0.8rem;
}

.contents-li-5 {
    list-style-type: none;
    text-align: right;
    line-height: 1.9;
    padding: 0;
}

.contents-a-6{
  position: relative;
}

.contents-a-6:link {
  font-size: min(var(--nav-1), 2vw);
  color: hsl(195deg 63% 45%);
  text-decoration: none;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;


}

.contents-a-6:visited{
  color: hsl(195deg 33% 55%);
}

.contents-a-6:hover{
  color:hsl(195deg 93% 35%);
  font-style: italic;
  transition: all 0.3s ease-in-out;
}
    
  .contents-a-6:active {
    color: hsl(195, 83%, 43%);
    transition:0.1s ease-in-out;
  }
    
 .contents-a-6::before{
   content: "";
   width: 0;
   height: 3.25px;
   visibility: hidden;
   background-color: hsl(195deg 93% 35%);
   position: absolute;
   bottom:2px;
   left: 0;
   transition: all 0.3s ease-in-out;
   transition-property: width, visibility, background-color;
 } 

 .contents-a-6:hover::before{
 visibility: visible;
 width: 100%;
 }

 .contents-a-6:active::before{
  background-color: hsl(195deg 83% 43%);
  transition: 0.1s ease-in-out;
}

/* Hamburger Contents Nav */

.nav_hamburger {
  display: none;
  visibility: hidden;
}

.hamburger-icon{
  display: none;
  visibility: hidden;
}


/* Back to the top Icon */

.back2thetop-span{
  position: sticky;
  margin-right: 1.563rem;
  top:90%;
  margin-top: 4.768rem;
  transition: all 0.08s ease-in-out;
  transition-property: transform ;
  z-index: 20;
  display: inline-block;
  left: 97vw;
}
.back2thetop-label{
  display: none;
  visibility: hidden;
}

.b2t-sp2{
display: inline-block;
vertical-align:bottom;
}

.back2thetop-a:link{
  background-color: var(--wht);
  color: var(--dark-clr);
  border: var(--dark-clr) solid 2px;
  padding: 5px;
  box-shadow: 0 14px 5px 1px hsla(195, 33%, 40%, 0.3);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.06s ease-in-out;
  transition-property: background-color, box-shadow;
}

.back2thetop-a:visited{
  color: var(--dark-clr);
}

.back2thetop-a:hover{
  background-color: hsl(0, 0%, 95%);
}

.back2thetop-a:active{
  background-color: var(--light-clr);
  box-shadow: 0 9px 4px 0.50px hsla(195, 33%, 40%, 0.5);
}


.back2thetop-span:active{
  transform: translateY(5px);
}

.b2t-label-bottom{
  position: absolute;
  right: 8%;
  bottom: 3.815rem;
  font-size: var(--nav-1);
}

.b2t-space{
  position: relative;
}

/* General section styling */

.sct{
  margin: 3.815rem auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hd-2 {
  font-size: var(--hd-2-mj-thrd);
  font-weight: normal;
  color: var(--dark-clr);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Section Colors */

/* .sct2{
  background: linear-gradient(hsla(0deg,0%,100%,0), var(--sq-prp));
}

.sct3{
  background: linear-gradient(hsla(0deg,0%,100%,0), var(--sq-prp));
} */
    

/* Chapter/Article Board */

 .Board {
  margin: 1.25rem auto 7.451rem;
  box-sizing: border-box;
  background-color: var(--wht);
  height: 44.409rem;
  padding: 1.953rem 0.8rem;
  border-radius: 3.053rem;
  box-shadow: 0 0 4.768rem 1.25rem hsl(0, 0%, 0%, 0.3), 0 0  1.25rem -1rem hsl(195deg, 83%, 3%, 0.8 );
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  max-width: 69.389rem;
}

.art-content{
width: 90%;
display: inline-block;
padding-right: 2vw;
padding-left:4vw;
height: 35.527rem;
overflow-y: scroll;
height: 100%;
}


.hding-3{
  font-size: var(--hd-6-mj-thrd);
  text-align: center;
  color: var(--dark-clr);
  position: sticky;
  top: -3.052rem;
  margin-bottom: 0;
  padding-top: 3.052rem;
  padding-bottom: 2.441rem;
  background: linear-gradient( var(--wht) 75%, hsla(255deg,0%,100%,0));
  z-index: 3;
  width: 101%;
}

.hding-4{
  font-size: var(--hd-7-mj-thrd);
  text-align: center;
  position: sticky;
  top: 2.441rem;
  padding-top: 2.441rem;
  padding-bottom: 2.441rem;
  z-index:2;
  color: var(--sq-blue);
  background: linear-gradient( hsla(255deg,0%,100%,0) -0%,var(--wht) 20% 75%, hsla(255deg,0%,100%,0) );
}

.h4-tl {
  font-size: var(--tl-1);
  color: var(--dark-clr);
  margin: -2.441rem auto 3.052rem;
  line-height: 1.5;
  max-width: 55ch; 
}

.hding-5{
  font-size: var(--aside-hd);
  color: var(--sq-blue-under);
  margin: 0;
  text-align: center;
}

.art-p{
font-size: var(--art-p);
color: var(--medium-clr);
line-height: 1.5;
max-width: 55ch;
margin: 1.563rem auto;
}


/* Chapter Nav */

.chapter-nav { 
  box-sizing: border-box;
  position: sticky;
  top: 0rem;
  width: 15%;
  padding: 2.441rem;
  flex: 1 1 content;
}

.ch-nav-heading-3{
font-size: var(--aside-hd);
color: var(--medium-clr);
margin-bottom: 1.563rem;
}

.ch-nav-ul-4 {
  margin: 0;
  padding: 0;
display: flex;
flex-direction: column;
width: fit-content;
}

.ch-nav-li-5{
  display: inline-block;
  position: relative;
  margin-bottom: 1.563rem;
}
    
.ch-nav-a-6:link{
 font-size: var(--nav-ch);
 color: hsl(195deg 53% 50%);
 text-decoration: none;
 padding: 0;
}

.ch-nav-a-6:visited{
  color: hsl(195deg 43% 45%);
}
    
.ch-nav-a-6:hover{
  color:hsl(195deg 93% 35%);
  transition: all 0.3s ease-in-out;
}
    
  .ch-nav-a-6:active {
    color: hsl(195, 83%, 43%);
    transition:0.1s ease-in-out;
  }
     
  .ch-nav-a-6::before{
    content: "";
    width: 0;
    height: 3.25px;
    visibility: hidden;
    background-color: hsl(195deg 93% 35%);
    position: absolute;
    bottom:0px;
    left: 0;
    transition: all 0.3s ease-in-out;
    transition-property: width, visibility, background-color;
  }

  .ch-nav-a-6:hover::before{
    visibility: visible;
    width: 100%;
  }

  .ch-nav-a-6:active::before{
    background-color: hsl(195deg 83% 43%);
    transition: 0.1s ease-in-out;
  }
    
  .sub-menu {
    max-height: 0;
    transition: max-height 0.5s;
    overflow-y: hidden;
  }

  .sub-menu a {
   display: block;
   margin: 1rem 0rem;
   color: var(--sq-blue);
   font-size: 1rem;
   text-align: left;
  }

  .ch-nav-li-5:target .sub-menu{
    max-height: 10em;
  }


  /* Section 1 */

section.sct1 {
  margin-top: -4.768rem;
}


 /* Section 2: Colors */

 .color-row {

  justify-content: start;
  gap: 1.563rem;
 }

  .colorsample{
  flex: 1 1 2.441rem;
   padding: 1.563rem 0.8rem;
   text-align: center;
   line-height: 1.8;
   border-radius: 15%;
   margin: 1.563rem 0;
  }

  #prm-drk {
    background-color: var(--dark-clr);
    color: var(--wht);
  }

  #prm-med {
    background-color: var(--medium-clr);
    color: var(--wht);
  }

  #prm-light {
    background-color: var(--light-clr);
    color: var(--dark-clr);
  }

  #sq-blue {
    background-color: var(--sq-blue);
    color: var(--wht);
  }

  #sq-grn {
    background-color: var(--sq-grn);
    color: var(--wht);
  }

  #sq-org{
    background-color: var(--sq-org);
    color: var(--wht);

  }

  #sq-purple {
    background-color: var(--sq-prp);
    color: var(--wht);
  }

  .clr-name{
    text-decoration: underline;
  }

   /* Section 2: Fonts */

   .tab-cap{
    font-size: var(--tl-1);
    color: var(--dark-clr);
    font-weight: 400;
    text-align: center;
  }
  
  .font-tab{
    margin: 2.441rem auto;
  }
  
  .font-tab *{ 
    padding: 0.8rem;
  }
  
  .font-cat{
    font-size: 0.8rem;
    color: var(--dull-clr);
    font-weight: 400;
    text-align: left;
  }
  
  .fnt-sample{
    text-align: center;
    max-width: 45ch;
    margin: 1.563rem auto;
  }
  
  .light ~ td{
  font-weight: 100;
  }
  
  .reg ~ td{
  font-weight: 400;
  }
  
  .SemiBold ~ td{
    font-weight: 600;
  }
  
  .bold ~ td{
    font-weight: 700;
  }
  
  .font-cat+td{
    font-style: italic;
  }
  
  .pop{
    font-family: 'Poppins';
  }
  .Mont {
    font-family: 'Montserrat';
  }
  .ssans{
    font-family: 'Source Sans Pro';
  }
  
  .scode{
    font-family: 'Source Code Pro';
  }
  
  .gar{
    font-family: 'EB Garamond';
  }

  .code-box{
    margin: 1.25rem auto 2.441rem;
    padding: 0.8rem;
    background-color: var(--light-clr);
    max-width: 55ch;
    border-radius: 5ch;
  }

  .code-box *{
    font-family: 'Source Code Pro', monospace;
    color: var(--dark-clr);
    line-height: 1.5;
    overflow-y: scroll;
  }

  .hd-1-ex{
    font-size: var(--hd-1-mj-thrd);
  }

  .hd-2-ex{
    font-size:var(--hd-2-mj-thrd);
  }

  .hding-3-ex{
    font-size: var(--hd-6-mj-thrd);
  }

  .reset{
    position: relative;    
    text-align: center;
    margin: 1.25px auto;
    padding: 0;
    max-width: 25ch;
    display: block;
    z-index: auto;
    background-color: rgba(red, green, blue, 0);
    top:0;
  }

  #example1{
    max-width: fit-content;
    margin: 3.052rem auto;
  }

  /* Footer */

  .footer{
    width: 100%;
    background-color: var(--dark-clr);
    height: 7.451rem;
    justify-content: space-around;
    align-items: center;
  }

  .footer-link:link{
    color: var(--sq-blue-under);
    text-decoration: none;
  }

  .footer-link:visited{
    color: var(--sq-prp-visited);
    text-decoration: none;
  }

  .footer-link:hover {
  color: var(--sq-grn);
  background-color: var(--medium-clr);
  padding: 0.2rem;
  transition: padding 0.2s ease-out;
  border-radius: 0.8rem;
  }

  .footer-link:active{
    color: var(--sq-org);
    transform: translateY(1px) ;
    background-color:var(--medium-clr);
    padding: 0.8rem;
    border-radius: 0.8rem;
  }

  /* Media Queries */

@media screen and (orientation:portrait)  {

  body {
    background: none;
    animation-name: none;
    width: 100%;
    margin:0;
    background-color: var(--light-clr);
  }

  .flx-row {
    flex-direction: column;
  }

  .hder-1{
    margin-bottom: 2.441rem;
  }

  .hding-1{
    margin: 2.441rem auto;
    text-align: center;
    font-size: var(--hd-3-mj-thrd);
    max-width: 80%;
  }

  .contents-nav-1 {
    box-sizing: border-box;
    max-width: min(100vw, 100%);
    flex: 1 1 content;
    padding: 1.25rem 3.052rem;
    border: solid 1px hsl(195deg 83% 28%);
    background-color: var(--light-clr);
    border-radius: 1.25rem;
    margin: 0;

  }

  .contents-div-2{
    border: none;
    text-align: center;

  }

  .contents-heading-3{
    font-size: var(--aside-hd);
    color:var(--medium-clr);
    font-weight: normal;
    letter-spacing: 2;
  }

  .contents-ul-4{
    padding: 0;
    margin-bottom: 0;
  }

  .contents-li-5{
    text-align: center;
    line-height: 2;
  }

  .contents-a-6:link {
    font-size: var(--tl-1);
    font-weight: normal;
  }

  .hd-2{
    font-size: var(--hd-4-mj-thrd);

  }


  .Board{
    max-width: 90%;
  }

  .chapter-nav{
    padding: 0.8rem;
  }
  
}

@media screen and (max-width:400px) {

  html{
    width: 100vw;
  }

  /* header vp-400px */

  .flx-header {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .hder-1{
    width: 100%;
    margin-top: 2.441rem;
  }

  .hding-1 {
    font-size: var(--hd-4-mj-thrd);
    padding: 2.441rem;
    max-width: 100%;
    font-weight: 700;
    text-align: center;
    margin: 2.441rem auto;
    flex: 0 0 content;

  }

  .hd-2{
    font-size: var(--hd-6-mj-thrd);
  }

  .hding-3 { 
    font-size: var(--nav-1);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: -0.8rem;
  }

  .contents-nav-1 {
    flex: 0 content;
    padding: 1.25rem 1.25rem;
    height: 20%;
    margin: 2.441rem auto;
  }

/* hamburger nav vp-400px */

  .nav-open .nav_toggle {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-clr);
    overflow-y: scroll;
    display: block;
    visibility: visible;
    z-index: 20;
  }
  
  .h-icon-hide{
    display: none;
  }

  .hamburger-icon{
    visibility: visible;
    position: sticky;
    top: 5.5%;
    left: 80%;
    background-color: transparent;
    border: none;
    z-index: 20;
    margin-bottom: -2.441rem;
    border-radius: 50%;
    padding: 4px;
    display: block;
    transition-property: filter;
    transition-duration: 0.3s;
  }

  .hamburger-icon svg{
    fill: var(--dark-clr);
  }
  
  .h-icon-hidden{
    filter: opacity(30%);
    transition-property: filter;
    transition-duration: 0.3s;
  }

  .h-icon-hide{
    display: none;
  }


  .close-icon{
    position: sticky;
    top: 8%;
    left: 80%;
    background-color: transparent;
    border: none;
  }
  
  .close-icon svg{
  fill: hsl(0, 0%, 50%, 0.9) ;
  }
  
  .hamburger-div-2{
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  body.nav-open .close{
    display: none;
    visibility: hidden;
  }

  .hamburger-heading-3{
    color: var(--light-clr);
    font-size: var(--hd-6-mj-thrd);
  }
  
  .h-nav-ul-4 {
    margin: 0 auto;
    padding: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  
  }
  
  .h-nav-li-5{
    display: inline-block;
    position: relative;
    margin-bottom: 0.8rem;
  }
  
  .h-nav-span-6{
    font-size: var(--nav-ch);
    color: var(--light-clr);
    text-decoration: none;
    padding: 0;
  }
  
  .h-nav-a-6:link{
    font-size: var(--nav-ch);
    color: var(--sq-blue);
    text-decoration: none;
    padding: 0;
   }
  
   .h-nav-suba-7:link{
    font-size: var(--aside-p);
    color: var(--sq-blue);
    text-decoration: none;
    padding: 0;
   }
   
   .h-nav-a-6:visited, .h-nav-suba-7:visited{
     color: hsl(195deg 43% 45%);
   }
       
   .h-nav-a-6:hover {
     color:hsl(195deg 93% 35%);
     transition: all 0.3s ease-in-out;
   }
       
     .h-nav-a-6:active, .h-nav-suba-7:active {
       color: hsl(195, 83%, 43%);
       transition:0.1s ease-in-out;
     }
        
     .h-nav-a-6::before{
       content: "";
       width: 0;
       height: 3.25px;
       visibility: hidden;
       background-color: hsl(195deg 93% 35%);
       position: absolute;
       bottom:0px;
       left: 0;
       transition: all 0.3s ease-in-out;
       transition-property: width, visibility, background-color;
     }
   
     .h-nav-a-6:hover::before{
       visibility: visible;
       width: 100%;
     }
   
     .h-nav-a-6:active::before{
       background-color: hsl(195deg 83% 43%);
       transition: 0.1s ease-in-out;
     }


    /* Board vp-400px */

    .Board{
      flex-flow: column;
      height: auto;
    }
  
    .art-content{
      padding:0;
      overflow-y: visible;
      margin: 0 auto;
    }
  
    .chapter-nav{
      display: none;
    }

    .art-p{
      text-align: center;
      margin-right: 0;
    }

    .hding-3{
      top: -1%;
    }

    .hding-4{
      top:9%;
    }

  .code-box{
    padding: 0.2rem;
    max-width: 100%;
    overflow: clip;
    font-size: 0.8rem
  }

  .back2thetop-span{
    margin: 4.768rem auto;
    top: 89%;
    left:0;
    display: block;
    width: 70vw;
    background-color: var(--wht);
    border: solid var(--dark-clr) 3px;
    padding: 0.8rem 0;
    border-radius: 35vw;
    box-shadow: 0 10px 4px 0px hsla(195, 33%, 40%, 0.3);
  }

  .back2thetop-a:link{
    box-shadow: none;
    border-style: none;
    background-color: transparent;
    padding: 0;
    display: block;
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding: 0;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
  }

  .back2thetop-label{
    display: inline;
    visibility: visible;
    color: var(--medium-clr);
    font-size: var(--tl-1);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .back2thetop-a:active .b2t-sp2, .back2thetop-a:active .b2t-sp1{
    filter: brightness(90%);
  }

  .b2t-sp1{
    color: var(--medium-clr);    
  }

  .b2t-sp2{
    color: var(--sq-blue); 
  }

  .back2thetop-span:active{
    filter: brightness(90%);
    box-shadow: 0 4px 2px 0.25px hsla(195, 33%, 40%, 0.5);
    transition: 0.2s;

  }

  .b2t-space{
    height: 2.441rem;
  }

  .b2t-label-bottom{
    display: none;
    visibility: none;
  }
  
}

@media all and (min-width:700px), (orientation:landscape) {

  body{
    animation-name:gradient-change;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }


}

@media all and (min-width:700px), (max-width:1100px), (orientation:landscape){

  .Board{
    width: 90%;
  }
  
  .contents-ul-4{
    padding: 0;
  }
  body{
    animation-name:gradient-change;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
 
}



 /*  circle navigation feature - experiment
  
  .circle-nav{
      flex: 1;
  }

  .circle-svg{
      margin: 4.768rem 0 0 -200px;
      transform: rotateZ(15deg);
  }

  */
  
 /* DEFINITION ASIDE 
   
.dfn-aside {
  position: sticky;
  display: inline-block;
  float: right;
  margin-right: -4.768rem;
  background-color: var(--dark-clr);
  padding: 0.8rem;
  border-radius: 1.25rem;
  color: var(--light-clr);
  top: 33.815rem;
}

.aside-internal {
  margin-top: 0.8rem;
  width: fit-content;
  padding:  0.8rem;
  background-color: var(--medium-clr);
  border-radius: 1.25rem;

}

.aside-p{
  max-width: 20ch;
  text-align: left;
  color: var(--light-clr);
  font-size: var(--aside-p);
  padding: 0;
  margin: 0;
  line-height: 1.35;
}
 */
